{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<div class="flex w-full flex-col lg:flex-row">
    <div class="grow ">
        <div class="stats shadow w-full bg-base-200">
            <div class="stat">
                <div class="stat-title">Number of sold tickets</div>
                <div class="stat-value">{{ numberOfSoldTickets }}</div>
                <div class="stat-desc">overall</div>
            </div>

            <div class="stat">
                <div class="stat-title">Total revenue</div>
                <div class="stat-value">{{ totalRevenue|number_format(2, '.', ',') }} RON</div>
            </div>

        </div>

        <div class="divider lg:divider-horizontal"></div>


    </div>
    {% endblock %}
