{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
    <script type="module" src="https://unpkg.com/cally"></script>

    <div class="flex w-full flex-col lg:flex-row">
        <div class="grow ">
            <div class="stats shadow w-full bg-base-200">
                <div class="stat">
                    <div class="stat-title">Number of sold tickets</div>
                    <div class="stat-value">0</div>
                    <div class="stat-desc">overall</div>
                </div>

                <div class="stat">
                    <div class="stat-title">Total revenue</div>
                    <div class="stat-value">0</div>
                </div>
            </div>

            <div class="mt-6 p-4 bg-base-200 rounded-box">
                <h3 class="text-lg font-bold mb-2">Recent Activity</h3>
                <p>No recent activity to display.</p>
            </div>

        </div>

        <div class="divider lg:divider-horizontal"></div>

        <div class="flex-shrink-0">
            <calendar-date class="cally bg-base-100 border border-base-300 shadow-lg rounded-box">
                <svg aria-label="Previous" class="fill-current size-4" slot="previous"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24">
                    <path fill="currentColor" d="M15.75 19.5 8.25 12l7.5-7.5"></path>
                </svg>
                <svg aria-label="Next" class="fill-current size-4" slot="next" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24">
                    <path fill="currentColor" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
                </svg>
                <calendar-month></calendar-month>
            </calendar-date>
        </div>

    </div>
{% endblock %}
