{% extends 'base.html.twig' %}

{% block title %}Edit Ticket{% endblock %}

{% block content %}
    <h1 class="text-xl italic font-bold text-center pt-4">Edit ticket with index {{ ticket.id }}</h1>

    {{ include('ticket/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="flex gap-2 mt-4 justify-center">
        <button class="btn btn-soft"
                onclick="window.location.href='{{ path('app_ticket_index') }}'"> Back to list
        </button>
        {{ include('ticket/_delete_form.html.twig') }}
    </div>
{% endblock %}
