{% extends 'base.html.twig' %}

{% block title %}New Ticket{% endblock %}

{% block content %}
    <h1 class="text-xl italic font-bold text-center pt-4">Create new ticket</h1>

    {{ include('ticket/_form.html.twig') }}

    <div class="flex gap-2 mt-4 justify-center">
        <button class="btn btn-soft"
                onclick="window.location.href='{{ path('app_ticket_index') }}'"> Back to list
        </button>
    </div>
{% endblock %}
